# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Server
#   build
/server/build
#   dependencies
/server/node_modules
#   .env
/server/.env

# Client
#   dependencies
/client/node_modules
#   .env
/client/.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
